<a href="https://colab.research.google.com/github/jtsai580317/20250503_python/blob/main/lesson4_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
desserts = {'Muffin': 39, 'Scone': 25, 'Biscuit': 20}
desserts["Muffin"]

dest = {"Mu": 39,"SC":25,"BI":20}
dest["Mu"]

39

In [11]:
stu1 = {"name":"robert",
        "chinese":78,
        "english":98,
        "math":73}

stu2 = {"name":"alice",
        "chinese":72,
        "english":88,
        "math":63}

stu3 = {"name":"jenny",
        "chinese":65,
        "english":78,
        "math":93}
students=[stu1,stu2,stu3]
students

[{'name': 'robert', 'chinese': 78, 'english': 98, 'math': 73},
 {'name': 'alice', 'chinese': 72, 'english': 88, 'math': 63},
 {'name': 'jenny', 'chinese': 65, 'english': 78, 'math': 93}]

In [16]:
for student in students :
  print ("姓名", student["name"])
  print ("中文", student["chinese"])
  print ("英文", student["english"])
  print ("數學", student["math"])

姓名 robert
中文 78
英文 98
數學 73
姓名 alice
中文 72
英文 88
數學 63
姓名 jenny
中文 65
英文 78
數學 93